<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application android:usesCleartextTraffic="true">
        <activity
            android:name=".modules.documentcapture.DocumentCaptureActivity"
            android:exported="false"
            android:theme="@style/Theme.VformApp"
            android:launchMode="singleTop"/>
        <activity
            android:name=".modules.livenesscheck.LivenessCheckActivity"
            android:exported="false"
            android:theme="@style/Theme.VformApp"
            android:launchMode="singleTop"/>
        <activity
            android:name=".modules.vform.FormActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
    </application>

</manifest>